/*-- scss:defaults --*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

// Options

$enable-shadows: true !important;
$enable-gradients: true !important;
$enable-transitions: true !important;
$enable-reduced-motion: false !important;

$spacer: 10px !default;

$body-bg:                   black !default;

$grid-gutter-width:           5px !default;

$border-radius:               5px !default;

$card-border-width:                 0.5px !default;
$card-bg:                           white !default;
$card-img-overlay-padding:          0px !default;

/*-- scss:rules --*/

.card {
  font-family: 'Nunito', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.girafe {display: grid;}


.quarto-dashboard #quarto-content.quarto-dashboard-content {
  padding: 0px !important;
}
